.landing-container {
    height: 100vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landing-container h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .landing-container h2 span {
    font-weight: bold;
  }
  