.form-container {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--primary-color);
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button[type="login"] {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

button[type="login"]:hover {
  background-color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  margin-top: 10px;
  text-align: center;
}
