.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-image h2 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-image span {
  color: #0ebf9c;
}

.form-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  margin: 20px;
  width: 400px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #0ebf9c;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-container button[type="login"] {
  background-color: #0ebf9c;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.form-container button[type="login"]:hover {
  background-color: #076d4e;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.back-to-landing-page {
  color: #0ebf9c;
  font-size: 18px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .hero-image h2 {
    font-size: 48px;
  }

  .form-container {
    width: 80%;
  }

  .form-container label {
    font-size: 16px;
  }

  .form-container input[type="text"],
  .form-container input[type="password"] {
    font-size: 14px;
  }

  .form-container button[type="login"] {
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px;
  }

  .back-to-landing-page {
    font-size: 16px;
  }
}
