body {
  /*background-color: #1c2237;*/
  font-family: "Roboto", sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #2a324b;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  margin: 0 auto;
}

.login-form h2 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-form input {
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 18px;
  background-color: #fff;
  color: #2a324b;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.login-form button[type="submit"] {
  background-color: #34c759;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}

.login-form button[type="submit"]:hover {
  background-color: #30a74d;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  .login-form h2 {
    font-size: 36px;
  }

  .login-form input,
  .login-form button[type="submit"] {
    width: 100%;
  }

  .login-form button[type="submit"] {
    margin-top: 10px;
  }
}
